@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --FFJulius: "Julius Sans One", sans-serif;
  --FFJost: "Jost", sans-serif;
  --FFFigtree: "Figtree", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* * {
    font-family: var(--FFJulius);
  } */

  body {
    margin: 0;
  }
  section {
    padding: 0 15vw;
  }

  button {
    font-family: var(--FFFigtree);
    border-radius: 25px;
    padding: 0.3rem 0.7rem;
    font-size: 1.2rem;
    border: 2px solid #7843e9;
    text-transform: uppercase;
    font-weight: 600;
    transition: ease-in-out 0.2s;
  }

  button:hover {
    color: white;
    background-color: #7843e9;
  }

  /* Embla Carousel en projects */
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}
