@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --purple: #9d6fff;
  --FFJulius: "Julius Sans One", sans-serif;
  --FFJost: "Jost", sans-serif;
  --FFFigtree: "Figtree", sans-serif;
  --FFJosefin: "Josefin Sans", sans-serif;
  --FFQuicksand: "QuickSand", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    font-family: var(--FFQuicksand);
  }

  body {
    margin: 0;
    background-color: #ffffff;
  }

  section {
    padding: 0 15vw;
  }

  input {
    padding: 0.3rem;
  }
  label {
    font-size: 1.05rem;
    font-weight: 600;
  }

  #navlink-am:hover,
  #navlink-pj:hover,
  #navlink-cn:hover {
    color: white;
    background-color: #9d6fff;
    border-radius: 200px;
    /* background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(157, 111, 255, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(100%, rgba(157, 111, 255, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(157, 111, 255, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(157, 111, 255, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(157, 111, 255, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(157, 111, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9d6fff', GradientType=0 ); */
  }
}
