@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap);
:root {
  --purple: #9d6fff;
  --FFJulius: "Julius Sans One", sans-serif;
  --FFJost: "Jost", sans-serif;
  --FFFigtree: "Figtree", sans-serif;
  --FFJosefin: "Josefin Sans", sans-serif;
  --FFQuicksand: "QuickSand", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    font-family: var(--FFQuicksand);
  }

  body {
    margin: 0;
  }

  section {
    padding: 0 15vw;
  }

  input {
    padding: 0.3rem;
  }
  label {
    font-size: 1.05rem;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    section {
      padding: 0 5vw;
    }
  }
}
